.form {
    margin: 5% 30%;   
}

h1 {
    position: relative;
    margin: 3% 20% 5% 20%;
}

.contact {
    margin: 10% 35% -5% 35%
}

.contact label {
    margin-right: 2%;
}

.add {
    position: fixed;
    left: 75%;
    margin-top: 2%;
}

.logout {
    position: fixed;
    left: 80%;
    margin-top: 2%;
}

.head {
    float: left;
}

.delete {
    background-color: red;
    border-color: red;
}

@media screen and (max-width: 1200px) {
    .add {
        left: 65%;
    }

    .logout {
        left: 75%
    }
}

@media screen and (max-width: 700px){
    .form {
        margin: 7% 20%
    }

    h1 {
        margin: 3% 15% 5% 15%;
    }

    .contact {
        margin: 5% 20% 0% 15%;
    }

    .add {
        left: 65%;
    }
    .logout {
        left: 75%;
    }
}
